{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="https://github.com/schoeu" class="social-github">
                <i class="ghosticon icon-github" data-original-title="GitHub主页" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="mailto:schoeu89@gmail.com" class="social-mail">
                <i class="ghosticon icon-email" data-original-title="私信博主" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="/rss/" class="social-rss">
                <i class="ghosticon icon-rss" data-original-title="订阅本站" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="http://music.163.com/#/user/home?id=248996052" class="social-music">
                <i class="ghosticon icon-wangyiyun" data-original-title="网易云音乐" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
