{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="https://github.com/schoeu" class="social-github">
                <i class="iconfont icon-github"></i>
            </a>
        </li>
        <li>
            <a href="mailto:schoeu89@gmail.com" class="social-mail">
                <i class="iconfont icon-email"></i>
            </a>
        </li>
        <li>
            <a href="/rss/" class="social-rss">
                <i class="iconfont icon-rss"></i>
            </a>
        </li>
        <li>
            <a href="http://music.163.com/#/user/home?id=248996052" class="social-music">
                <i class="iconfont icon-wangyiyun"></i>
            </a>
        </li>
    </ul>
</nav>
